<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <contentTranslator>
            <translationService type="Hackathon.SDN.Foundation.TranslationService.Services.TranslationService, Hackathon.SDN.Foundation.TranslationService">
                <param name="translationProvider" ref="contentTranslator/translationProvider" />
            </translationService>
        </contentTranslator>

        <pipelines>
            <group name="contentTranslator" groupName="contentTranslator">
                <pipelines>
                    <fieldShouldBeTranslated>
                        <processor type="Hackathon.SDN.Foundation.TranslationService.Infrastructure.Pipelines.FieldShouldBeTranslated.IsEmptyField, Hackathon.SDN.Foundation.TranslationService" />
                        <processor type="Hackathon.SDN.Foundation.TranslationService.Infrastructure.Pipelines.FieldShouldBeTranslated.ShouldBeTranslatedProperty, Hackathon.SDN.Foundation.TranslationService" />
                        <processor type="Hackathon.SDN.Foundation.TranslationService.Infrastructure.Pipelines.FieldShouldBeTranslated.IsFieldFromStandardTemplate, Hackathon.SDN.Foundation.TranslationService" />
                    </fieldShouldBeTranslated>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>