<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore database="SqlServer">
        <unicorn>
            <configurations>
                <configuration name="Feature.TranslationRibbon">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Core_Translation_Chunk" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Translation" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>

        <commands>
            <command name="Command:TranslateContent" type="Hackathon.SDN.Feature.TranslationRibbon.TranslateCommand, Hackathon.SDN.Feature.TranslationRibbon"/>
        </commands>
    </sitecore>
</configuration>