<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore database="SqlServer">
        <settings>
            <!-- Deepl Auth Key -->
            <setting name="DeeplAuthKey" value="ece9269e-5399-2e8d-14e8-a5e70436555e" />

            <!-- Deepl Base Path -->
            <setting name="DeeplBaseUrl" value="https://api.deepl.com/v1/translate" />
        </settings>
    </sitecore>
</configuration>